.rxid-table table thead {
  color: #939393;
}

.rxid-table table thead tr th {
  font-weight: 500;
  font-size: 14px;
}

.rxid-table table thead tr th.sortable:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.rxid-table table thead tr th.sortable div.th-content span.sort {
  display: block;
  position: relative;
  color: #e0e0e0;
}

.rxid-table table thead tr th.sortable div.th-content span.sort.desc::before,
.rxid-table table thead tr th.sortable div.th-content span.sort.asc::before {
  position: absolute;
  left: 0;
  color: #a0a0a0;
  font: var(--fa-font-solid);
}

.rxid-table table thead tr th.sortable div.th-content span.sort.asc::before {
  content: "\f0de";
  top: 0.2em;
}

.rxid-table table thead tr th.sortable div.th-content span.sort.desc::before {
  content: "\f0dd";
  top: 0.2em;
}

.rxid-table table thead tr th div.th-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rxid-table table thead tr th div.th-content span.sort {
  display: none;
  margin-left: 0.5em;
}

.rxid-table table thead tr th,
.rxid-table table tbody tr td {
  white-space: nowrap;
}

.rxid-table table tbody {
  border-top: unset !important;
}

.rxid-table table tbody tr:hover td {
  background-color: #fafafa;
}

/* table footer */
.rxid-table .rxid-table-footer {
  display: flex;
  justify-content: space-between;
}

.rxid-table .rxid-table-footer .select-max-row {
  width: 64px;
}
